body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#dontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    width: 100vw;
    height: 100vh;
}

#table {
    display: flex;
    flex-direction: column;
    height: 70vmin;
    width: 70vmin;
    gap: 1em;
    margin: 0 auto;
}

button {
    flex: 1;
    border-radius: 2em;
    border-width: 0;
}

.color-selected {
    border: 0.25em solid black;
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: rgb(0, 0, 255);
}

.purple {
    background-color: rgb(128, 0, 128);
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 70vmin;
    height: 10vmin;
    padding-top: 1vmin;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 25%;
}

.cell {
    flex: 1;
    height: 100%;
    color: black;
    border-radius: 7%;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.ungrouped {
    background-color: rgb(239, 237, 227);
}